{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le statut de l’enchère</h1>

    {{ form_start(form) }}
        {{ form_row(form.paymentReceived) }}
        {{ form_row(form.productDelivered) }}
        <button>Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_closed_auctions') }}">⬅️ Retour</a>
{% endblock %}
